#github {
  font-size: 20px;
  margin-right: 10px;
  vertical-align: middle;
}

#github-icon {
  font-size: 24px;
  padding-right: 5px;
  vertical-align: middle;
}

.banner {
  background-image: url(../assets/code.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px ;
}

/* .banner::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
} */

.my-name {
  color: #d3ba17;
  font-size: 2em;
  position: absolute;
  right: calc(50% - 2.25em);
  width: 4.7em;
}

@media (max-width: 950px) {
  .my-name {
    display: none;
  }
}

section::after{
  content: '';
  display: block;
  height: 60px;
}

footer {
  background-color: black;
  bottom: 0;
  display: inline-block;
  height: 60px;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

footer p {
  color: white;
  display: block;
  font-size: 1em;
  margin: 0;
  position: relative;
  top: calc(50% - .5em);
}
