#github {
  vertical-align: middle;
  font-size: 20px;
  margin-right: 10px;
}

#github-icon {
  vertical-align: middle;
  padding-right: 5px;
  font-size: 24px;
}

#footer {
  position: absolute;
  width: 100%;
  right: 0em;
  bottom: 0em;
  left: 0em;
  background-color: black;
}

#footer-text {
  text-align: center;
  color: red;
}
