#github {
  vertical-align: middle;
  font-size: 20px;
  margin-right: 10px;
}

#github-icon {
  vertical-align: middle;
  padding-right: 5px;
  font-size: 24px;
}

section::after{
  content: '';
  display: block;
  height: 60px;
}

footer {
  height: 60px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  /* height: 100%; */
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
}

footer p {
  font-size: 1em;
  display: block;
  top: calc(50% - .5em);
  position: relative;
  margin: 0;
  vertical-align: middle;
  color: white;
}
