<ul>
  <li>
    <div class="block">
      <h1>
        Impact International
      </h1>
      <aside>
        <h2>
          Marketer & IT Technician
        </h2>
        <h3>
          Los Angeles, CA
        </h3>
        <h4>
          December 2015 to Today
        </h4>
      </aside>
      <section class="main">
        <p>
          Fine, vivid images of art products created using Photoshop. Creation of
          listings on Amazon and other top marketing websites with no auxiliary
          software. Contribution to processing orders and resolving technical
          difficulties with software applications, DNS settings, and hardware issues.
        </p>
      </section>
    </div>
  </li>
  <li>
    <div class="block">
      <h1>
        Chess Amp
      </h1>
      <aside>
        <h2>
          Chess Coach
        </h2>
        <h3>
          Monterey Park, CA
        </h3>
        <h4>
          December 2015 to Today
        </h4>
      </aside>
      <section class="main">
        <p>
          Supported kids on their chess endeavor with fun lessons for beginners and
          intermediate level players. Helped coordinate chess tournaments.
        </p>
      </section>
    </div>
  </li>
  <li>
    <div class="block">
      <h1>
        Jack in the Box
      </h1>
      <aside>
        <h2>
          Cashier
        </h2>
        <h3>
          Los Angeles, CA
        </h3>
        <h4>
          April 2013 to June 2014
        </h4>
      </aside>
      <section class="main">
        <p>
          Store maintenance: cleaning, stocking up supplies, working drive-thru, and
          assisting co-workers. Achieved a respectable relationship with customers.
          Guaranteed customer satisfaction. Worked as a team member to carry out
          orders. Applied bilingual skills on the job. Contributed to up-sales.
        </p>
      </section>
    </div>
  </li>
</ul>
