h2 {
  font: 700 1.625rem / 1.154 "Roboto",sans-serif;
}
h4 {
  color: red;
  font: 700 1.125rem / 1.111 "Roboto",sans-serif;
}
.employment-header {
  color: #333;
  margin-bottom: 16px;
  order:1;
}
.employment-list {
  margin-bottom: 24px;
}
.employment-content {
  padding: 16px;
}
.unstyled-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.card {
  background: #fff;
  border: 0 solid rgba(51,51,51,0.06);
  border-radius: 16px;
  box-shadow: 0 0 8px 0 rgba(51,51,51,0.2);
  margin-bottom: 24px;
  overflow: hidden;
  /* border-radius: 10px;
  box-shadow: -2px 9px 20px 0px;
  background-color: #27271A; */
}
@media (min-width: 768px) {
  h2 {
    font-size: 2rem;
    line-height: 1.25;
  }
  h4 {
    font-size: 1.125rem;
    line-height: 1.222;
  }
  .employment-list {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(2, 1fr);
    order: 3;
    width: 100%;
  }
  .card {
    margin-bottom: 0;
  }
}
