<h2 class="employment-header">
  Employment History
</h2>
<ul class="employment-list unstyled-list">
  <li class="card">
    <div class="card-inner">
      <div class="employment-content">
        <h3 class="employment-title">
          IT Technician, Graphic Designer, Marketer
        </h3>
        <p class="employment-description">
          Fine, vivid images of art products created using Photoshop. Creation of
          listings on Amazon and other top marketing websites with no auxiliary
          software. Contribution to processing orders and resolving technical
          difficulties with software applications, DNS settings, and hardware issues.
        </p>
        <div class="employment-company">
          <strong>Company:</strong>
          Day-O-Graphics
        </div>
        <div class="employment-date">
          <strong>Date:</strong>
          December 2015 to Today
        </div>
        <div class="employment-location">
          <strong>Location:</strong>
          Los Angeles, CA
        </div>
      </div>
    </div>
  </li>
  <li class="card">
    <div class="card-inner">
      <div class="employment-content">
        <h3 class="employment-title">
          Cashier
        </h3>
        <p class="employment-description">
          Store maintenance: cleaning, stocking up supplies, working drive-thru, and
          assisting co-workers. Achieved a respectable relationship with customers.
          Guaranteed customer satisfaction. Worked as a team member to carry out
          orders. Applied bilingual skills on the job. Contributed to up-sales.
        </p>
        <div class="employment-company">
          <strong>Company:</strong>
          Jack in the Box
        </div>
        <div class="employment-date">
          <strong>Date:</strong>
          April 2013 to June 2014
        </div>
        <div class="employment-location">
          <strong>Location:</strong>
          Los Angeles, CA
        </div>
      </div>
    </div>
  </li>
</ul>
