/* You can add global styles to this file, and also import other style files */
.ui-menuitem-text {
  font-size: 20px;
}

body {
  margin: 0;
  /* background-image: url("./assets/portfolio_background_1.jpg"); */
  background-color: #d3ba17;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
}

.wrapper {
  background-color: #685b04;
  width: 95%;
  max-width: 75em;
  margin: 0 auto;
}
