/* You can add global styles to this file, and also import other style files */
.ui-menuitem-text {
  font-size: 20px;
}

.page-container {
  min-height: 100vh;
  position: relative;
}

.wrapper {
  background-color: #685b04;
  margin: 0 auto;
  max-width: 800px;
}

html {
  max-height: 100%;
}

body {
  background-attachment: fixed;
  background-color: #d3ba17;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  min-height: 100%;
  position: relative;
}

h1, h2, h3, h4, h5, p {
  color: white;
  margin: 24px;
}

@media (max-width: 500px) {
  .ui-menuitem-text {
    display: none;
  }
  .ui-menuitem-icon {
    padding: 0 10px;
  }
  header::before {
    background-color: black;
    color: #d3ba17;
    content: "Ben Solis";
    display: inline-block;
    font-size: 2.5em;
    height: 100px;
    line-height: 100px;
    text-align: center;
    vertical-align: middle;
    width: 100%;
  }
  .banner {
    display: none;
  }
}
