<p-galleria [images]="images" panelWidth="100%" panelHeight="402" [showCaption]="true"></p-galleria>

<div class="main">
  <div>
    <hr>
    <p class="bio">
      I build websites and coach chess as a profession. I recieved my formal
      education from California State University, Los Angeles. I am an
      experienced and motivated Java and JavaScript Developer aspiring to
      fully utilize my problem-solving skills in building and designing
      web-applications. Specializing in the trendy MEAN stack development,
      I enjoy using the latest technologies for web development.</p>
    <p class="bio">
      From humble beginnings as an energetic and enthusiastic worker in
      customer service to a motivated, ambitious web developer, I have made
      respectable progress. As a first generation college graduate from Cal
      State LA, I worked hard balancing two jobs, school, and extracurricular
      activities. It's my passion for solving problems and critical thinking
      that helped me reach this milestone. Of course, I credit a lot of my
      success to my family and friends who helped me along the way.</p>
    <p class="bio">
      My hobbies include playing chess, soccer, and my electric guitar. I also
      love rock music and skateboarding. I like to cook and go to the gym so I
      can stay in shape and live healthy.
    </p>
  </div>
<div>
