.title {
  font-size: 36px;
  text-transform: capitalize;
  margin-bottom: 0px;
}

.bio {
  display: block;
  text-indent: 2em;
  font-size: 24px;
  padding-right: 12px;
  padding-left: 12px;
}

.first-ln {
  text-transform: uppercase;
}

p:first-of-type {
  text-indent: 0;
}

.dropcap {
  padding-left: 1.125em;
  padding-right: 0.15em;
  float: left;
  position: relative;
  top: -0.25em;
  margin-bottom: -0.5em;
  margin-left: -6px;
  margin-right: 2px;
  font-size: 2em;
}

.main {
  margin-top: 24px;
  display: inline-block;
}

i {
  display: inline;
  font-size: .75em;
}

hr {
  margin: 0;
}
