<p-galleria [images]="images" panelWidth="100%" panelHeight="402" [showCaption]="true"></p-galleria>

<div class="main">
  <div>
    <hr>
    <p class="bio">
      <span class="dropcap">B</span><span class="first-ln">en Solis. A man who enjoys taking on challenges and seeing the
      impossible done.</span> He is a first-generation college graduate from Cal
      State LA, where he recieved his bachelor's degree of science in
      computer science. A journey that had him pulling his hair out at times,
      and feeling like he won the lottery at others. His most notable
      accomplishment is his contribution to the development of PRISM, a web
      app that facilitates the workflow of program reviews at his university
      (shown above). He loves to use Java and Javascript to build things. </p>
    <p class="bio">
      Outside of his man cave, he loves to teach kids how to play chess at
      Chess Amp. He has coached kids in soccer as well and won 1st place in his
      first season. Playing soccer on the weekends, he also likes to be
      outdoors. When he is alone, he plays his electric guitar and listens to
      music. If he is feeling nerdy, he will read articles on programming or
      play chess online.</p>
  </div>
<div>
